@model LoginDTO
@{
    ViewData["Title"] = "Sign In";
}
<script 
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossOrigin="anonymous">
</script>




<div class="forms-container">
    <div class="signin-signup">
        <form method="post" action="" class="sign-in-form">
            @* <div class="title">ログイン</div> *@
            @* <div class="name email">Email</div> *@
            <div class="subtitle social"> ログイン </div>
            <div class="input-field social">
                <i class="fab fa-microsoft sign-in"></i>
                <input type="submit" class="fab fa-microsoft sign-in" value="Microsoftを使用してサインイン" href="#">
            </div>
            <div class="input-field social">
                <i class="fab fa-google sign-in"></i>
                <input type="submit" class="fab fa-google sign-in" value="Googleを使用してサインイン" href="#">
            </div>
            <h2><span> or </span></h2>
            <div class="subtitle account">Eメール</div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="email" placeholder="Eメール">
            </div>
            <div class="subtitle account">パスワード</div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="パスワード">
                <i class="fa fa-eye input-field-tail" aria-hidden="true"></i>
            </div>
            <div class="forget-password" href="#"> パスワードを忘れたのですか？ </div>
            <input type="submit" value="ログイン" class="btn solid">
            @* <p class="social-text">Or sign in with social platforms</p> *@
            
        </form>
    </div>

<div class="logo-image" href="#">
    <img src="~/images/iconA.png" alt="">
</div>

<div class="login-background">
    <img src="~/images/student-01.png" alt="">
</div>