@model LoginDTO
@{
    ViewData["Title"] = "Sign In";
}
<script 
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossOrigin="anonymous">
</script>
@* <div class="container"> *@

    <div class="forms-container">
        <div class="signin-signup">
            <form method="post" action="" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                @* <div class="name email">Email</div> *@
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" placeholder="email">
                </div>
                @* <div class="name password">Password</div> *@
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="password">
                </div>
                <input type="submit" value="Sign in" class="btn solid">
                <p class="social-text">Or sign in with social platforms</p>
                <p class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </form>
            <img src="https://png.pngtree.com/png-clipart/20220615/original/pngtree-kid-student-back-to-school-in-uniform-wear-backpack-png-image_8043401.png" alt="" style="width: 50%;">
        </div>
        <div class="panels-container">
        @* <div class="panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <p>dsfsfdsfsf</p>
                <button class="btn transparent" id="sign-up-btn">Sign up</button>
                <img src="../../assets/img/student-01.png" alt="img1" class="image">
            </div>
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>One of us ?</h3>
                <p>dsfsfdsfsf</p>
                <button class="btn transparent" id="sign-in-btn">Sign in</button>
                <img src="../../assets/img/iconA.png" alt="img2" class="image">
            </div>
        </div> *@
    </div>
</div>
    

@* </div> *@