@model LoginDTO
@{
    ViewData["Title"] = "Sign In";
}
<script 
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossOrigin="anonymous">
</script>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form method="post" action="" class="sign-in-form">
                <h2 class="title">@ViewData["Title"]</h2>
                @* <div class="name email">Email</div> *@
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" placeholder="email">
                </div>
                @* <div class="name password">Password</div> *@
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="password">
                </div>
                <input type="submit" value="Sign in" class="btn solid">
                <p class="social-text">Or sign in with social platforms</p>
                <p class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </form>
        </div>
    </div>
    <div class="panels-container"></div>
</div>